.body-endereco{
    padding: 50px;
    font-size: large;
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
    color: #8B4513;
    /* background-image: url("https://images.tcdn.com.br/img/img_prod/727571/revestimento_adesivo_madeira_cerejeira_com_textura_25_1_20191015083022.jpg"); */
}

.cabecalho-endereco{
    padding-top: 20px;
    font-size: 30px;
}

.breadcrumb{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.form-control{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.form-control:hover{
    box-shadow: 2px 2px 0px 0px #8B4513;
    border-color: #8B4513;
    font-style: italic;
}

.form-check-input:hover {
    box-shadow: 2px 2px 0px 0px #8B4513;
}

.btn-enviar{
    background-color: #B8860B;
    color: #ffff;
}