.home{

}
.titulo{
    margin:5px 0;
   
    background-color: #232319;
    color:white;
    display: block;
    width: 100%;
    height: 10vw;
}
.produtos-destaques{

}
.card-produto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25vw;
    border: 1px solid #CAC4C4;
    margin: 10px 0;
}
.preco{
    width: 40%;
    height: 100%;
    background-color: grey;
}
.quantidade{
    width: 40%;
    height: 100%;
    background-color: grey;
}
.preco-qtd{
    height: 10%;
    width: 100%;
}

.img-produto{
   width: 100%; 
   height: 40%;
}