@font-face {
    font-family: 'Sabbath';
    src: url(../fonts/Sabbath\ Paranoid.otf) format('opentype');
}
.banner{
    height: 350px;
}
.main{
    display: flex;
    justify-content: center;
}
.titulo{
    margin:5px 0;
   
    background-color: #232319;
    color:white;
    display: block;
    width: 100%;
    height: 150px;
}
.titulo h3{
    font-family: 'Sabbath';
}
.card-produto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 320px;
    border: 1px solid #CAC4C4;
    margin-top: 10px;
    margin-bottom: 30px;

}
.preco{
    width: 40%;
    height: 100%;
}
.quantidade{
    width: 55%;
    height: 75%;
    border: 1px solid grey;
    margin: 0px;
    --bs-gutter-x: 0rem;
    
}
.botao, .qtd{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.botao button{
    border: none;
    background: white;
}
.botao button:hover{
    background-color:#8D733F;
    transition: 0.3s;
}
.preco-qtd{
    align-items: center;
    height: 15%;
    width: 100%;
}

.img-produto{
    position: relative;
    width: 100%; 
    height: 40%;
}
.card-produto h4{
    font-family: 'MedievalSharp', cursive;
    font-weight: 250;
    font-size: 100%;
}
.preco-de{
    color:grey;
    font-style: italic;
    font-size: 50%;
    text-decoration: line-through;
    font-weight:bold;
}
.preco-por{
    color: red;
    font-size: 80%;
    font-family: 'MedievalSharp', cursive;
    font-weight: bolder;
}
.escudo-desconto{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    
}
.comprar{
    border:none;
    color:white;
    background: #8D733F;
    font-size: 20px;
    font-family: 'MedievalSharp', cursive;
    width:60%;
    height: 15%;
}
.sec-banner{
    height: 350px;
}
.busca-ava{
    background-color: #232319;
    margin: 10px 0;
}
.col-12 label, .titulo-pesq{
    color:white;
    font-size: 25px;
    font-family: 'MedievalSharp', cursive;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../imgs/seta-p-baixo.png) no-repeat center right #FFF;
    font-size: 20px;
    padding-right: 20px;
    width:70%;
}
.Buscar{
    margin: 10px 0;
    border:none;
    color:white;
    background: #8D733F;
    font-size: 30px;
    font-family: 'MedievalSharp', cursive;
    width:60%;
    height: 15%;
}
.seletores{
    width:100%;
}
.newsletter{
    margin: 15px 0;
    height: 125px;
    background-color: #8D733F;
    font-family: 'MedievalSharp', cursive;
}
.newsletter h2{
    color:white;
    text-align: center;
}
.newsletter button{
    color:white;
    background: #232319;
    margin: 0 10px;
    width:60%;
    height: 40%;
    border:none;
}
.newsletter input{
    margin: 0 10px;
    width:60%;
    height: 40%;
}
@media (max-width: 1200px) {
    .banner{
        height: 300px;
    }
    .comprar{
        font-size: 17px;
    }
}
@media (max-width: 992px){
    .banner{
        height: 230px;
    }
    .seletores label{
        font-size: 20px;
    }
    .escudo-desconto{
        top: 0;
        left: 0;
        height: 30px;
        width: 30px;
    }
    .card-produto{
        height: 200px;
    }
    .preco-de{
        font-size: 5px;
    }
    .preco-por{
        font-size: 8px;
    }
    .quantidade{
        width:55px;
        height: 20px;
        font-size: 8px;
    }
    .comprar{
        font-size: 11px;
    }
    .sec-banner{
        height: 200px;
    }
    .newsletter{
        height: 100px;
        font-size: 15px;
    }
    .newsletter h2{
        font-size: 20px;
    }
    
}
@media (max-Width:767px) {
    .banner{
        height: 170px;
    }
    .seletores label{
        font-size: 15px;
    }
    .escudo-desconto{
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
    }
    
    .quantidade{
        width:55px;
        height: 20px;
        font-size: 8px;
    }
    .comprar{
        font-size: 11px;
    }
    .sec-banner{
        height: 200px;
    }
    .newsletter{
        height: 100px;
        font-size: 15px;
    }
    .newsletter h2{
        font-size: 20px;
    }
}